---
layout: default
---

<section id="single-wrap">
  <article class="single-content" itemscope itemtype="http://schema.org/BlogPosting">
    <div class="feat">
      <h5 class="page-date">
        <time datetime="{{ page.date | date_to_xmlschema }}" itemprop="datePublished">
          {{ page.date | date_to_long_string }}
        </time>
      </h5>
    </div>
    <h1 class="page-title" itemprop="name headline">{{ page.title }}</h1>
    <div itemprop="articleBody">
      {{ content }}
    </div>

    <div id="share" class="feat">
      <!-- AddThis Button BEGIN -->
      <div class="addthis_toolbox addthis_default_style addthis_32x32_style">
      <a class="addthis_button_preferred_1"></a>
      <a class="addthis_button_preferred_2"></a>
      <a class="addthis_button_preferred_3"></a>
      <a class="addthis_button_preferred_4"></a>
      <a class="addthis_button_compact"></a>
      <a class="addthis_counter addthis_bubble_style"></a>
      </div>
      <script type="text/javascript">var addthis_config = {"data_track_addressbar":true};</script>
      <script type="text/javascript" src="//s7.addthis.com/js/300/addthis_widget.js#pubid=ra-532791d823f554dc"></script>
      <!-- AddThis Button END -->
    </div>

    <div class="facebook-comments">
      <div class="fb-comments" data-href="{{site.url}}{{site.baseUrl}}{{page.url}}" data-numposts="5" data-colorscheme="light"></div>
    </div>

    {% if page.next %}
      <a rel="next" href="{{ site.baseurl }}{{ page.next.url }}" id="next">
        <span class="nav-title nav-title-next">newer</span> &rarr;
      </a>
    {% endif %}
    {% if page.previous %}
      <a rel="prev" href="{{ site.baseurl }}{{ page.previous.url }}" id="prev">
        &larr; <span class="nav-title nav-title-prev">older</span>
      </a>
    {% endif %}
  </article>
</section>
